body {
    background-color: #350200;
    color: #e5e5e5;
    overflow: hidden;
    margin: 0;
}
.background_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden{
    visibility: collapse;
}

.ui {
    position: absolute;
}
.ui span {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stats_mid{
    /*visibility: collapse; */
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.select_disabled{
    user-select: none; /* For Chrome and Opera */
   -ms-user-select: none; /* For Internet Edge and Explorer*/
   -webkit-user-select: none; /* For Safari */
   -moz-user-select: none; /* For Firefox */
   -khtml-user-select: none; /* Konqueror HTML */
}

.cinemator {
    pointer-events: none;
    position: absolute; 
    width: 100%; 
    background-color:black;
    
    height: 95px;

    opacity: 0;
    transition: opacity 1s; 
}

.cinemator.fade {
  opacity: 1;
}

.hud_middle{
    position: absolute;
}
.hud_middle span{
    color: #ffffff;
    font-size: 25px;
    font-family: sans-serif;
    visibility: collapse;
}


b{
    color: #ffffff;
}

button{
    margin: 20px;
}



.status{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.chatbox{
    background-color: #d7d7d730;
    border: 2px solid #bfbfbf50;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;

    width: 295px;
    
    position: absolute;
    top: 100%;
    -webkit-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
}
.chatfield{
    margin-bottom: 5px;
    max-height: 200px;
    overflow-y: scroll;
}
.chatfield span{
    display:block;
}

.hud_right{
    position: absolute;
    width: 175px;
    right: 0;
    top:0;
}
.hud_right_img{
    /*margin: 5px;*/
    display: block;
    opacity: 0.75;
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.playerbox{
    margin-right: 175px;
    text-align: right;
    width: 150px;
    position: absolute;
    left: calc(100% - 175px);
    -webkit-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
}
.playerbox span{
    display:block;
}