body{
    background-color: #111a11;
    color: #e5e5e5;
    margin: 0px;
    padding: 0px;
}
.background_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.c_bot{
    position: absolute; 
    width: 100%; 
    background-image:linear-gradient(transparent, black);
    bottom:0px;
    height: 95px;
}

.mid_sort{
    text-align: center;
    position: relative;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.menu_items{
    position: absolute;
    left: 50%;
    top: 50%;
    
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    
  -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,25));
  -moz-filter: drop-shadow(0 2px 4px rgba(0,0,0,25));
  -ms-filter: drop-shadow(0 2px 4px rgba(0,0,0,25));
  -o-filter: drop-shadow(0 2px 4px rgba(0,0,0,25));
  filter: drop-shadow(0 2px 4px rgba(0,0,0,25));
}

.menu_items button {
    background-image: linear-gradient(to right,#131313, #3b3b3b);
    /*background-color: ; /* Green background */
    border: 0px solid #3b3b3b; /* Green border */
    color: #cfcfcf; /* White text */
    margin-bottom: 3px;
    

    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 248px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}
.menu_items button:hover {
  background-image: linear-gradient(to right,green, #3b3b3b); /* Green */
  color: white;
}
  
/* Add a background color on hover */
/*.menu_items button:hover {
    background-color: #3e8e41;
}*/